<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.npike.dailytrello</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/npike/Dropbox/projects/daily_trello/sync.py</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>1</integer>
      <key>Minute</key>
      <integer>0</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/net.npike.dailytrello_error.log</string>

  <key>StandardOutPath</key>
  <string>/tmp/net.npike.dailytrello_std.log</string>
</dict>
</plist>